:root{
    --ghost-white: #FBFBFF;
    --russian-violet: #2F1847;
    --white: #FCFCFC;
    --font-color: #303036;
}

html, body{
    height: 100%;
    padding: 0;
}

body{
    background-color: var(--ghost-white);
    color: var(--font-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

button{
    color: gray;
    border: none;
}

h2{
    text-align: center;
}

footer{
    text-align: center;
    background-color: var(--font-color);
    color: var(--ghost-white);
    margin-top: auto;
}
a{
    color: var(--ghost-white);
}

header{
    background-color: var(--font-color);
    height: 7vh;
}

#CallToAction{
    color: var(--ghost-white);
}

#Text{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    margin-right: 8px;
}

#Description{
    text-align: justify;
    width: 98%;
}

#tickerName{
    font-size: 1rem;
    border: none;
    background-color: var(--ghost-white);
    border-radius: 2px;
}

#SearchBar button{
    border-radius: 2px;
}

#LandingPage{
    margin: auto;
    width: 25%;
    text-align: center;
}

#LandingPage p{
    color: var(--font-color);
}

#AboutSection{
    margin: auto;
    width: 50vw;
    text-align: center;
    background: #f5f5f5;
    padding: 2rem;
    border-radius: 8px;
}

.ChartDiv{
    border-style: outset;
    border-radius: 10px;
    margin: 8px;
}

.SearchBarSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.SearchBarSection h2{
    color: var(--ghost-white);
    margin-left: 5vh;
    margin-right: 25vh;
}

.SearchBarSection div{
    margin-top: 2vh;
}

.SearchBarSection p{
    margin-right: 10vw;
}

.ChartSection{
    display: flex;
    flex-direction: column;
}

.Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100vw;
    margin-left: 8px;
    margin-right: 8px;
}

.InfoSection{
    background-color: var(--font-color);
    color: var(--ghost-white);
}
