:root{
    --ghost-white: #FBFBFF;
    --russian-violet: #2F1847;
    --white: #FCFCFC;
    --font-color: #303036;
}

body{
    background-color: var(--ghost-white);
    color: var(--font-color);
    margin: 0;
}

button{
    color: gray;
    border: none;
}

h2{
    text-align: center;
}

#Header{
    background-color: var(--font-color);
    height: 7vh;
}

#Text{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    margin-right: 8px;
}

#Description{
    text-align: justify;
    width: 98%;
}

#tickerName{
    font-size: 1rem;
    border: none;
    background-color: var(--ghost-white);
    border-radius: 2px;
}

#SearchBar button{
    border-radius: 2px;
}

.ChartDiv{
    border-style: outset;
    border-radius: 10px;
    margin: 8px;
}

.SearchBarSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.SearchBarSection h2{
    color: var(--ghost-white);
    margin-left: 5vh;
    margin-right: 50vh;
}

.SearchBarSection div{
    margin-top: 2vh;
}

.ChartSection{
    display: flex;
    flex-direction: column;
}

.Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100vw;
    margin-left: 8px;
    margin-right: 8px;
}

.InfoSection{
    background-color: var(--font-color);
    color: var(--ghost-white);
}
